@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MuseoSans';
  src: url('fonts/MuseoSans_300.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('./fonts/MuseoSans_500.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('./fonts/MuseoSans_700.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

* {
  color:#384045;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'MuseoSans', sans-serif;
}

/*
  The CSS below in my opinion is unethical and I would never do it on a real project,
  because it's removing trademarks and buttons that shouldn't be removed

  (Only did this to achieve the closest possible result to the assignments example)
*/

.gm-style-cc {
  /* Removes keyboard shortcuts etc (buttons on the bottom right corner of google maps) */
  display: none !important;
}

img[alt="Google"] {
  /* Removes Google logo on bottom left corner of google maps */
  display: none !important;
}